body {
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.file-block {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    box-shadow: 5px 5px 0px #ddd;
}

.file-header {
    background: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.file-footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 11px;
    border-top: 1px dashed #ccc;
}

.code-raw {
    padding: 20px;
    margin: 0;
    white-space: pre-wrap;       /* Penting agar baris baru terbaca */
    word-wrap: break-word;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    background: #fafafa;
}